@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


/* below is the body*/

body{
    background-color: rgb(29, 26, 26);
    font-family:  'nova square', cursive;
    height: 1vh;

}

/* below is the header*/

header{
    color: #ffffff;
    width: 80%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

/*below is the the main*/

main{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.0;
}
 
/*below is the div for timer/score*/

div {
    color: black;
   /* word-spacing: 70px;*/
}

/*below is the actual quiz itself */

#quiz{
    padding: 0;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

/* below is the score */

#info{
   color: #ffffff;
   /*margin:10px;*/
   /*background-color: #c62929;*/
    /*padding: 10px;*/
    border-radius: 5px;
    margin-right: 20px;
    overflow: hidden;
}

#info{
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: rgb(255, 187, 0); }
    50% { color: rgb(255, 187, 0); }
    100% { color: rgb(255, 187, 0); }
  }


a {
    color: #ffffff;
    text-decoration: none;
}

/* below is the timer/highscores*/

#timer,
#highscores {
    background-color: red;
    padding: 16px;
    border-radius: 25px;
    justify-content: space-between;
  
}

/*below are the results at the end of game*/

#results {
    background-color: #ffffff;
    padding: 10%;
    border-radius: 17px;

}

/* below are the buttons to the game */

button{
    width: auto;
 background-color: #cd5252;
   border: none;
   padding: revert;
   border-radius: 5px;
   margin-right: 20px;
   margin-left: 10px;
   
   
}

/* below is the hover for the buttons*/

button:hover{
    color: rgb(87, 227, 208);
    transform: scale(1.2,1.2); 

}

/* below is the start quiz button */

#startquiz{
    background-color: #cd5252;
    margin-left: 390px;

}

/* below are the questions itself */

#questions{
    margin-left: 10px;
}

/* below are the options/answers */

#options{
    margin-left: 20px;
}

/* below is the main welcome header with animations */

h1{
    font-size: 5.3rem;
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    50% { color: rgb(103, 140, 199); }
    100% { color: rgb(255, 187, 0); }
  }

/* below are all the score components/items */

.score-item{
    background-color: rgb(255, 145, 0);
    display: contents;
    line-height: 3;
}

.results{
    word-spacing: 30px;
}


.savescore{
    background-color: beige;
}


h1{
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    50% { color: rgb(103, 140, 199); }
    100% { color: rgb(255, 187, 0); }
  }

  /* the area for enter your name */

input {
    border-radius: 5px;
    border: none;

}


  













