@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29, 26, 26)
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 25px;
    font-family: 'nova square', cursive;
}


h1{
    margin-top: 10%;
    margin-left: 17%;
    font-size: 5.3rem;
    color:white;
    margin-bottom: 5rem;
}

button{
    border-radius: 6px;
   
}


input{
    border-radius: 6px;
    
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}


.results{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin:0 auto;
}